.gradle/
build/
out/
bin/

.idea/
*.iml
*.ipr
*.iws

.settings/
.project
.classpath
*.launch

.vscode/
*.code-workspace


logs/
*.log



.DS_Store

Thumbs.db

*.jar
!gradle-wrapper.jar


# -- DEV BUILD -- #

run/*

!run/eula.txt
!run/server.properties
!*.md