.gradle/
build/
out/
bin/

.idea/
*.iml
*.ipr
*.iws

.settings/
.project
.classpath
*.launch

.vscode/
*.code-workspace

run
logs/
*.log



.DS_Store

Thumbs.db

*.jar
!gradle-wrapper.jar

gradle-wrapper.jar
gradle-wrapper.properties
gradle
